SECRET_KEY=dev
WEB_PASSWORD=your_web_access_password_here
FMP_API_KEY=your_fmp_api_key_here
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_api_key_here
EODHD_API=your_eodhd_api_token_here
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_ENCRYPT_KEY=
FEISHU_ALERT_RECEIVER_ID=
FEISHU_ALERT_RECEIVER_TYPE=open_id
